@import "partial/reset";
@import "partial/variables";
@import "partial/helpers";
@import "partial/threejs";

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../gilroy/Gilroy-Regular.otf");
}


html {
    font-size: 18px;
    scroll-behavior: smooth;
}


// Basics and Layout
body {
    font-family: 'Gilroy-Regular';
    color: $white;
    background-color: $black;

    .background-color {

        height: 1200vh;


        .background-svg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            svg {


                &#blood-line-svg {
                    width: auto;
                    height: 100%;
                    fill: none;
                    stroke: $red;
                    stroke-miterlimit: 10;
                    stroke-width: 25px;
                }

                .blood-line {
                    transition: all 1s cubic-bezier(0, 0.0, 0, 1);
                    stroke-dashoffset: 16625.4;
                    stroke-dasharray: 16625.4;
                    stroke-linecap: round;

                }
            }

            .fluid-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                .container {
                    max-width: 80vw;
                    margin: 0 auto;
                }
            }
        }

    }

    .heartbeat-line-svg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        .heartbeat-path {
            stroke: $red;
            stroke-width: 2px;
            stroke-dasharray: 1260;
            stroke-dashoffset: 1260;
            fill: none;
            animation: heartbeat 1.6s linear infinite;
            height: 20px;
        }
    }

    @keyframes heartbeat {
        0% {
            opacity: 0;
            stroke-width: 0px;
        }

        50% {
            opacity: 1;
            stroke: $red;
            stroke-width: 3px;
        }

        100% {
            opacity: 0;
            stroke-width: .6px;
            stroke-dashoffset: 2520;
        }

    }

    #heart-svg {
        // position: fixed;
        // top: 50%;
        // left: 50%;
        // width: 20%;
        // transform: translate(-50%, -50%);
    }

    svg {
        stroke: $black;
        stroke-width: 5px;
    }


    .heartPfadRechts {
        fill: $red;

    }

    .heartPfadLinksOben {
        fill: $red;
    }

    .heartPfadLinksUnten {
        fill: $red;
    }

}


section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.flex-item {
    padding: 0 15px;
}

.col-6 {

    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {

    flex: 0 0 25%;
    max-width: 25%;
}

.col-8 {

    flex: 0 0 75%;
    max-width: 75%;
}

.section1,
.section2,
.section3,
.section4 {
    position: sticky;
    top: 0;
    transition: all .1s ease;
}

.fade-out-element {
    transition: all .1s ease;
}

.section2 {
    position: sticky;
    top: 0;
}






// Font

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jomolhari', serif;
    font-weight: 700;
    line-height: 110%;
}

h1 {
    font-size: 5rem;
    // text-transform: uppercase;
}


@keyframes herzschlag {
    0% {
        transform: scale(.9);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.9);
    }

    100% {
        transform: scale(.9);
    }
}

.herzschlag {
    animation: herzschlag 1.6s .2s ease-in-out infinite;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jomolhari', serif;
    font-weight: 700;
    line-height: 125%;
}

h1 {
    font-family: 'Jomolhari', serif;
    font-weight: 400;
    font-size: 10rem;
}

h2 {
    font-family: 'Jomolhari', serif;
    font-weight: 400;
    font-size: 3rem;
}

p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;

    .titletext {
        font-size: 2rem
    }
}
//so wärs flexbox geeignet: (aber kann sie nicht gestapelt übereinander platzieren)
img{width: 100%}

//mit position absolute en höchi gsetzt: (bizli doof aber so chamers staple)
img{
  width: 20vw;
  position: absolute;
}

#lungs{opacity:0.5;width:60vw; left:20vw;}
